<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Techno-Chronicles</title>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="./styles.css">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<div class="wrapper">
    <header class="has-background-warning">
        <h1 class="has-text-black px-3 py-3 has-text-weight-bold" id="title">The Techno-Chronicles</h1>
        <nav class="navbar has-background-warning mt-2">
            {{#if loggedIn}}
            <a href="/" class="navbar-item is-hoverable pt-1">homepage</a>
            <a href="/dashboard" class="navbar-item is-hoverable pt-1">dashboard</a>
            <a href="/dashboard/create/" class="navbar-item is-hoverable pt-1 mr-4">create post</a>
            <button id="logout" class="button is-danger is-inverted">logout</button>
            {{else}}
            <a href="/" class="navbar-item is-hoverable pt-1">homepage</a>
            <a href="/login" class="button is-darkis-inverted">login</a>
            {{/if}}
        </nav>
    </header>

    <main>
        {{{ body }}}
        {{#each posts as |post|}}

            {{> post-info post }}
            </div>
            
            {{else}}
        <h6 class="pb-4 has-text-centered is-italic">there are currently no posts</h6>
        {{/each}}

        {{{ body }}}
    </main>

    <footer class="footer rows pb-2">
        <div class="row-is-full content has-text-centered">
            <p>
                <a href="/">homepage</a> |
                <a href="/dashboard/">dashboard</a> |
                <a href="/dashboard/create/">create new post</a> | 
                <a href="/login/">login</a> |
                <a href="/login/">sign up</a>
            </p>
        </div>
        <div class="row-is-full content has-text-centered">
            <p>
                <strong id="title-two">The Techno-Chronicles</strong> hosted by Shane McNulty</a> | styled with <a href="https://bulma.io/">bulma</a> | source code: <a href="https://github.com/mcnultyshane"><i class="fab fa-github"></i></a> | <a href=""><i class="far fa-envelope"></i></a>
                {{!-- <a href="https://github.com/mcnultyshane"> --}}
            </p>
        </div>
    </footer>
</div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>